<form id="create-post" class="form-control">
  <label for="post-title" class="form-label">Title</label>
  <input class="form-control" id="post-title" />
  <label for="post-content" class="form-label">Comment</label>
  <textarea class="form-control" id="post-content"></textarea>
  <button type="submit" class="btn btn-primary">Create post</button>
</form>

<script src="./js/post.js"></script>