<div class="row text-white">

  <div class="col-6">
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="mb-3">
        <label for="name-signup" class="form-label">Name:</label>
        <input class="form-control" type="text" id="name-signup" />
      </div>
      <div class="mb-3">
        <label for="email-signup" class="form-label">Email:</label>
        <input class="form-control" type="text" id="email-signup" />
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
  <a id="login" href="/login" class="text-white text-decoration-none">Login
    instead</a>
</div>

<script src="./js/signup.js"></script>